    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top" style="z-index: 10">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js?v={{ version }}"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js?v={{ version }}"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js?v={{ version }}"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js?v={{ version }}"></script>


    <!-- Sweetalert plugin -->
    <script src="/vendor/sweetalert2/sweetalert2.all.min.js?v={{ version }}"></script>
    <script src="/vendor/sortablejs/Sortable.min.js?v={{ version }}"></script>
    <script src="/vendor/jquery-sortablejs/jquery-sortable.js?v={{ version }}"></script>
    <script src="/vendor/datepicker/datepicker.min.js?v={{ version }}"></script>
    {# <script src="/vendor/touch-dnd/touch-dnd.min.js?v={{ version }}"></script> #}

    <!-- Main Custom Script -->
    <script src="/js/main.js?v={{ version }}"></script>

    <!-- All Page Script -->
    <script src="/js/app/pages/all.js?v={{ version }}"></script>

    <!-- script for this page -->
    <script>
        jQuery(document).ready(function(){
             $('.custom-file input[name=file]').on('change',function(){
                //get the file name
                var fileName = $(this).val() || 'Choose File';
                //replace the "Choose a file" label
                $(this).next('.custom-file-label').html(fileName);
            })
        })
    </script>
